* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eid-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #000;
}

.eid-card-content {
  text-align: center;
  color: #fff;
  margin-top: 9rem;
}

.eid-card-title {
  font-size: 3.25rem;
  font-family: "EidFitri";
}

.eid-card-body {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  font-weight: 100;
  font-family: "Poiret One", cursive;
}

.eid-card-closing {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  font-family: "Poiret One", cursive;
}
